@model Flocon.Models.Dashboard.DashViewModel

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Flocon - Dashboard";
}

  <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bx bxs-home"></i></a></li>
          <li class="breadcrumb-item active">New craft</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Summary <span>| Actions in progress</span></h5>

                  <div class="d-flex align-items-center pb-2 pt-2">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-receipt-cutoff"></i>
                    </div>
                    <div class="ps-4">
                      <span class="text-success small pt-1 fw-bold">3</span> <span class="text-muted small pt-2 ps-1">documents to sign</span><br>
                      <span class="text-warning small pt-1 fw-bold">6</span> <span class="text-muted small pt-2 ps-1">documents awaiting</span><br>
                      <span class="text-danger small pt-1 fw-bold">8</span> <span class="text-muted small pt-2 ps-1">documents crafted</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-8 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">New craft <span>| Add new document to sign</span></h5>

                  <div class="row d-flex align-items-center">
                      <div class="area">
                          <form class="dropzone" id="my-awesome-dropzone" method="post" enctype="multipart/form-data"
                                asp-controller="Dashboard" asp-action="UploadCraftDoc">
                            <div id="dropZone">
                                <div class="row justify-content-center" id="dropDownZone">
                                    <div class="col-lg-2">
                                        <h6 style="font-size: 50px;"><i class="bi bi-cloud-upload"></i></h6>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="small pt-1 fw-bold">Choose your document</h5>
                                        <h5 class="small pt-1 fw-bold">or drag it here</h5>
                                    </div>
                                    <input type="file" onchange="form.submit()"
                                            asp-for="@Model.DocToSign"/>
                                </div>
                          </form>
                                
                       </div>
                  </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

  
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Document history <span>| Latest</span></h5>

                  <table class="table table-borderless datatable" id="dataTable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Document</th>
                        <th scope="col">Version</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Signatories</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td><a href="#" class="text-primary">Quality manual</a></td>
                        <td>v2.0</td>
                        <td><a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><a href="#" class="text-primary">J. Beaudaux</a> ; <a href="#" class="text-primary">V. Besse</a></td>
                        <td><span class="badge bg-primary"> <i class="bi bi-pause-fill"></i> Crafted</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td><a href="#" class="text-primary">Sales process sheet</a></td>
                        <td>v1.0</td>
                        <td><a href="#" class="text-primary">V. Besse</a></td>
                        <td><a href="#" class="text-primary">V. Besse</a> ; <a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><span class="badge bg-success"><i class="bi bi-award-fill"></i> Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td><a href="#" class="text-primary">IT process sheet</a></td>
                        <td>v1.0</td>
                        <td><a href="#" class="text-primary">V. Besse</a></td>
                        <td><a href="#" class="text-primary">V. Besse</a> ; <a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><span class="badge bg-warning"><i class="bi bi-play-fill"></i> Pending</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td><a href="#" class="text-primary">R&D process sheet</a></td>
                        <td>v1.0</td>
                        <td><a href="#" class="text-primary">V. Besse</a></td>
                        <td><a href="#" class="text-primary">V. Besse</a> ; <a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><span class="badge bg-success"><i class="bi bi-award-fill"></i> Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td><a href="#" class="text-primary">Marketing process sheet</a></td>
                        <td>v1.0</td>
                        <td><a href="#" class="text-primary">V. Besse</a></td>
                        <td><a href="#" class="text-primary">V. Besse</a> ; <a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><span class="badge bg-danger"> <i class="bi bi-exclamation-triangle-fill"></i> Rejected</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td><a href="#" class="text-primary">Test process sheet</a></td>
                        <td>v1.0</td>
                        <td><a href="#" class="text-primary">V. Besse</a></td>
                        <td><a href="#" class="text-primary">V. Besse</a> ; <a href="#" class="text-primary">J. Beaudaux</a></td>
                        <td><span class="badge bg-success"><i class="bi bi-award-fill"></i> Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
