<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>Flocon - @ViewData["Title"]</title>

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/lib/fontawesome-5.15.1/css/all.css" rel="stylesheet" />
  <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="~/css/AdminPanel.css?rnd=159" rel="stylesheet">
</head>

<body>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container">
    <div class="d-flex align-items-center justify-content-between">

      <h1 class="logo">
        <i class="fas fa-snowflake" width="30px"></i>
        Flocon<span>.io</span>
      </h1>

      <nav id="navbar" class="navbar">
        <ul>
          <!--Put navigation links here-->
          <!--
          <li><a class="nav-link active" href="#hero">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li></li>
          -->
          <li>
            <div class="profile-pic">
              <img alt="avatar" src="~/img/unknown-user.png" class="img-circle" style="height:30px; width:30px;">
            </div>
          </li>
          <li class="dropdown">
              <div data-bs-toggle="dropdown">
                <div class="row" style="color:white; font-size: 15px">JBeaudaux</div>
                <div class="row" style="color:white; font-style:italic; font-size: 12px">Admin</div>
              </div>
              <ul class="dropdown-menu extended" style="right: 0; left: auto;">
                <li>
                  <p class="dropdown-item yellow">
                    <i class='bx bx-id-card' style="margin-right: 10px;"></i> 0xa355E7494...883176eE</p>
                </li>
                <li><a href="#" class="dropdown-item" style="color:black;"><i class='bx bx-user' style="margin-right: 10px;"></i> Edit profile</a></li>
                <li><a href="#" class="dropdown-item" style="color:black;"><i class='bx bx-bug-alt' style="margin-right: 10px;"></i> Another action</a></li>
                <li><a href="#" class="dropdown-item" style="color:red;"><i class='bx bx-log-out' style="margin-right: 10px;"></i> Sign out</a></li>
                  <!--<p class="yellow">You have 7 new notifications</p>
                  <a href="#" class="dropdown-item" style="color:black;"><i class='bx bx-user' ></i> Edit profile</a>
                  <a href="#" class="dropdown-item" style="color:black;">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item" style="color:black;"><i class='bx bx-log-out'></i> Log out</a>-->
              </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </div>
  </header>

  <section id="container">
    <section style="background-color: #DDE5E7;">
      <section class="wrapper">
        @RenderBody()
      </section>
    </section>
    

    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Flocon.io </span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="~/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="~/lib/jquery.scrollTo.min.js"></script>
  <script src="~/lib/jquery.nicescroll.js" type="text/javascript"></script>

  <!--common script for all pages-->
  <script src="~/lib/common-scripts.js"></script>
  <!--script for this page-->
  
</body>



</html>
