@model Flocon.Models.Auth.LoginViewModel
@{
    Layout = ""; // No registration, no need for a template
    ViewData["Title"] = "Flocon - Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Flocon.io - Log-in</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link rel="shortcut icon" href="~/img/favicon.png" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/lib/quill/quill.snow.css" rel="stylesheet">
  <link href="~/lib/quill/quill.bubble.css" rel="stylesheet">
  <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/lib/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/style-dashboard.css?rnd=123" rel="stylesheet">

  <!-- Use for authentication with Moralis -->
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
</head>

<body>

  <main class="login-bg">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="d-flex justify-content-center pt-4">
                    <a href="Home/index.html" class="logo d-flex align-items-center w-auto">
                      <img src="assets/img/logo.png" alt="">
                      <span class="d-none d-lg-block">
                        <i class="bi bi-snow2"></i> Flocon<span style="color:#2487ce;">.io</span>
                      </span>
                    </a>
                  </div>

                  <div class="">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  </div>

                  <div class="pt-4">
                    <p class="text-center small">Connect with your digital ID</p>
                  </div>

                  

                    <div class="col-12">
                        <form name="form1" asp-controller="Auth" asp-action="MetamaskLogin">
                            <input asp-for="@Model.MetamaskAddr" type="hidden" id="metamID"/>
                            @*<button id="" type="submit">Test</button>*@
                        </form>
                      
                      <button class="btn btn-primary w-100" type="button" onclick="login()">
                        <i class="bx bxs-id-card" style="margin-right: 10px;"></i> Digital ID Login
                      </button>
                    </div>

                    <!-- ToDo : use modal to select wallet (metamask, WalletConnect, Brave)-->

                    <hr>

                 <form class="row g-3 needs-validation" novalidate>

                    <div class="mt-0">
                      <p class="text-center small">Or connect with your username & password</p>
                    </div>

                    <div class="col-12 mt-0">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-at"></i></span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="passwword" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">
                        <i class="bi bi-box-arrow-in-right" style="margin-right: 10px;"></i> Classical login
                      </button>
                    </div>

                    <div class="col-12 text-center">
                      <p class="small mb-0">No account? <a href="pages-register.html">Request one</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                &copy; Copyright <strong>Flocon<span style="color:#2487ce;">.io</span></strong>. All Rights Reserved
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!--<script src="~/lib/apexcharts/apexcharts.min.js"></script>-->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/lib/chart.js/chart.min.js"></script>
  <script src="~/lib/echarts/echarts.min.js"></script>
  <script src="~/lib/quill/quill.min.js"></script>
  <script src="~/lib/simple-datatables/simple-datatables.js"></script>
  <script src="~/lib/tinymce/tinymce.min.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main-dashboard.js"></script>

  <!-- Moralis authentication -->
  <script>
      Moralis.initialize("mZUKiVs4n8XcNZwuq0riiTNAPP29CqdfevSVYYat")
      //Moralis.serverURL = "https://cors-anywhere.herokuapp.com/https://bcyyhqybnajd.usemoralis.com:2053/server"
      Moralis.serverURL = "https://bcyyhqybnajd.usemoralis.com:2053/server"

      async function login()
      {
          try {
              //console.log("login clicked");
              var user = await Moralis.Web3.authenticate();

              var inputH = document.getElementById("metamID");
              inputH.value = user.id;

              if( ! String(inputH.value).length == 0){
                  //console.log('user connected')
                  document.form1.action = "/auth/MetamaskLogin";
                  document.form1.submit();
              }
          } catch (error) {
              console.log('authenticate failed', error)
          }
      }
   </script>

</body>

</html>
